.navbar {
    background-color: #9fbb9a;
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px; 
    border: 1px solid lightgray;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-section {
    display: flex;
    gap: 20px; 
    list-style: none;
}

.center-section li {
    display: inline-block;
}

.center-section li a {
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.center-section li a:hover {
    color: #5a5959;
    text-decoration: underline;
}
.logo img {
    width: 75px; 
    height: 50px;
    border-radius: 65%;
    margin-left: 20px;

}
.navdiv span {
    font-size: 20px;
    font-weight: 600;
    color: #111111;
}

.auth-btn {
    font-size: 0.9rem;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 10px;
    margin-left: 10px;
    width: 130px;
}
.auth-btn a {
    color: #111111;
    font-weight: bold;
    font-size: 15px;
}

.auth-btn:hover {
    background-color: #818080;
}

.contact-info{
    color: #111111;
    font-size: 18px;
    font-weight: bold;
}
.contact-us{
    justify-self: right;
    padding-right: 100px;
}

.user-info {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center username and button */
    gap: 5px; /* Small space between username and logout button */
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 4px;
}
@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }