.navbar {
    background-color: #9fbb9a;
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px; 
    border: 1px solid lightgray;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(97, 49, 141);
}

.logo img {
    width: 75px; 
    height: 50px;
    border-radius: 65%;
    margin-left: 20px;

}
.navdiv span {
    font-size: 20px;
    font-weight: 600;
    color: #111111;
}

.navdiv ul li {
    transition: background-color 0.3s ease;
    cursor: pointer;
    list-style: none;
    margin-right: 21em;
    display: inline-block;
}

.navdiv ul li:hover{
    text-decoration: underline;
    color: #5a5959;
}
.navdiv ul li a:hover{
    text-decoration: underline;
    color: #5a5959;
}
.navdiv ul li a:active{
    text-decoration: underline;
}
.navdiv ul li a:visited{
    text-decoration: none;
}
.navdiv ul li a:link{
    text-decoration: none;
}

.navdiv ul li a {
    color: #111111;
    font-size: 18px;
    font-weight: bold;
}

.auth-btn {
    padding: 8px 16px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 10px;
    width: 90px;
    margin-left: 10px;
    width: 180px;
}
.auth-btn a {
    color: #111111;
    font-weight: bold;
    font-size: 15px;
}

.auth-btn:hover {
    background-color: #818080;
}

.contact-info{
    color: #111111;
    font-size: 18px;
    font-weight: bold;
}
.contact-us{
    justify-self: right;
    padding-right: 100px;
}
@media (max-width: 800px) {
    section {
        flex-direction: column;   
    }

    .row {
        flex-direction: column;
        width: 100%;
      }
   
    input{
        width: 100%;
    }

    #button{
        width: 100%;
    }
  }