<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Data Shield MD</title>
    <meta name="description" content="A brief description" />
    <meta
      name="Teodor Andrei Georgescu"
      content="A web application uses where one can upload medical datasets and get them prepared for publishing."
    />
    {% load static %}
    <!-- Include your CSS files here -->
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
    />
  </head>

  <body>
    {% include "partials/header.html" %}
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
          <span>{{ message }}</span>
          <button class="close-button" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <main>
       <!-- Begin block content --> 
       {% block content %}
        
       {% endblock %}
      <!-- End block content --> 
    </main>

    {% include "partials/footer.html" %}
  </body>
</html>