{% load static %}
<!-- Footer -->
<nav class="navbar-footer">
    <div class="navdiv">
        <div class="logo-section">
            <span>Data Shield MD</span>
            <div class="logo">
                <img src="{% static 'img/DataShieldMDlogo.jpg' %}" alt="Data Shield MD Logo">
            </div>
        </div>
        <div class="contact-info">
            <p class="contact-us">Contact us</p>
            <p>Email: <a href="mailto:DataShieldMD@gmail.com">DataShieldMD@gmail.com</a></p>
        </div>
    </div>
 </nav>