{% load static %}
<nav class="navbar-header">
    <div class="logo-section">
        <span>Data Shield MD</span>
        <div class="logo">
            <img src="{% static 'img/DataShieldMDlogo.jpg' %}" alt="Data Shield MD Logo">
        </div>
    </div>

    <div class="center-section">
        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'how_we_do_it' %}">How We Do It</a></li>
                <li><a href="{% url 'upload_file' %}">File Upload</a></li>
                <li><a href="{% url 'algorithm_selection' %}">Algorithm Selection and Processing</a></li>
                <li><a href="#">Processed Datasets</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'how_we_do_it' %}">How We Do It</a></li>
            </ul>
        {% endif %}
    </div>

    <div class="auth-section">
        {% if user.is_authenticated %}
            <div class="user-info">
                <span class="username">{{ user.username }}</span>
                <button class="auth-btn"><a href="{% url 'logout' %}">Logout</a></button>
            </div>
        {% else %}
            <button class="auth-btn"><a href="{% url 'login' %}">Login</a></button>
            <button class="auth-btn"><a href="{% url 'register' %}">Register</a></button>
        {% endif %}
    </div>
</nav>
