 <!-- Add code to load static content-->
{% load static %}
<nav class="navbar">
    <div class="navdiv">
        <div>
            <span>Data Shield MD</span>
            <div class="logo">
                <img src="{% static 'img/DataShieldMDlogo.jpg' %}" alt="Data Shield MD Logo">
            </div>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How We Do It</a></li>
            <button class="auth-btn"><a href="#">Login or register</a></button>
        </ul>
    </div>
</nav>